<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hoja de vida de Niña Peña Moises</title>
    <style>
        h1, h2, h3 {

            color: #001c80;
        }

        p, ul {
            color : blue;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>Niña Peña Moises</h1>
<h2>Gata de raza criolla con sobrepeso</h2>
<h3>Gata ingenieria en sistemas</h3>
<h3>3202253714</h3>
<p>Niña Peña es una gata criolla tranquila y dormilona,
    con una gran personalidad. Le encanta comer, dormir
    y pasar el día relajada. Aunque a veces es seria, es
    muy querida y hace parte importante de su hogar..</p>
<ul>
    <li>Cualidades</li>
    <ul>
 <ul>

     <li>Perezosa</li>
     <li>Dormilona</li>
     <li>Hambrienta</li>
     <li>Criollisima</li>
     <li>Malhumorada</li>


 </ul>
    <li>Atributos</li>
 <ul>

     <li>Gorda</li>
     <li>Panzona</li>
     <li>Criolla</li>
     <li>Harmana de Niño</li>
     <li>Peluda</li>


 </ul>


<img src="/static/img/Niña.jpeg" width="600" height="700" alt="Gata Niña Peña">


</html>